<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset='utf-8'>
	<meta name='viewport' content='width=device-width,initial-scale=1'>

	<title>Magebook web editor</title>
  <meta name="theme-color" content="rgb(47, 99, 255)">
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
  <link rel="stylesheet" href="mageapp.css">
</head>
<body style="--theme-color: rgb(47, 99, 255)">

  <div id="app" v-cloak>
    <mageapp-main>
      <mageapp-settings></mageapp-settings>
      <mageapp-list
        store="zaino"
        :default="[]"
      >zaino</mageapp-list> 
      <mageapp-notes
        store="appunti"
        default=""      
      >appunti</mageapp-notes>
      <mageapp-storebuttons></mageapp-storebuttons>
    </mageapp-main>
  </div>

  <script src="https://unpkg.com/vue@3"></script>
  <script src="https://lucafabbian.github.io/finaldialog/dist/finaldialog.js"></script>
  <script src="Liberty.js"></script>
  <script src="mageapp.js"></script>
  <script>
    const { createApp } = Vue

    const app = createApp()
    app.use(MageApp.plugin)
    app.mount('#app')
  </script>

</body>
</html>

