
.icon-search:before { content: '\e800'; } /* '' */
.icon-pencil:before { content: '\e801'; } /* '' */
.icon-plus:before { content: '\e802'; } /* '' */
.icon-scissors:before { content: '\e803'; } /* '' */
.icon-ccw:before { content: '\e804'; } /* '' */
.icon-cw:before { content: '\e805'; } /* '' */
.icon-back:before { content: '\e806'; } /* '' */
.icon-flash:before { content: '\e807'; } /* '' */
.icon-ok:before { content: '\e808'; } /* '' */
.icon-arrows-cw:before { content: '\e809'; } /* '' */
.icon-sun:before { content: '\e80a'; } /* '' */
.icon-moon:before { content: '\e80b'; } /* '' */
.icon-resize-full:before { content: '\e80c'; } /* '' */
.icon-resize-small:before { content: '\e80d'; } /* '' */
.icon-cog:before { content: '\e80e'; } /* '' */
.icon-warning:before { content: '\e80f'; } /* '' */
.icon-docs:before { content: '\f0c5'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-paste:before { content: '\f0ea'; } /* '' */
.icon-help:before { content: '\f128'; } /* '' */
.icon-right:before { content: '\f178'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
